<!DOCTYPE html>
<html>
    <head>
        <title>CrunchyTracker</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Crunchy Tracker</h1>
            <div v-if="mode && mode==='URL'" >
                <a :href="url">Log into Anilist</a>
            </div>
            <div v-else-if="mode && mode==='TOKEN'" >
                <h2><a :href="url">{{display_title}}</a></h2>
            </div>
            <div v-else-if="mode && mode==='ERROR'" >
                {{error_message}}
            </div>
            <div v-else>
                LOADING...
            </div>
            <div v-if="progress >= 0" style="display:inline-block">
                <button @click="decrement_progress" style="float:left;margin:8px">-</button>
                <p style="float:left;margin:8px">{{progress}}</p>
                <button @click="increment_progress" style="float:left;margin:8px">+</button>
            </div>
            <div v-else-if="mode && mode==='TOKEN'">
                <button @click="follow_anime">Start following</button>
            </div>
        </div>
        <script src="scripts/auth.js" type="text/javascript"></script>
        <script src="scripts/api.js" type="text/javascript"></script>
        <script src="scripts/app.js" type="text/javascript"></script>
    </body>
</html>
